/* Fonts */

@font-face {
    font-family: 'Architects Daughter';
    src: url('../fonts/kimberly-geswein_architects-daughter/ArchitectsDaughter.ttf') format('truetype');
}

@font-face {
    font-family: 'Vollkorn';
    src: url('../fonts/vollkorn/Vollkorn-Regular.otf') format('opentype');
}

/* General Things */

* {
    box-sizing: border-box;
}

body {
    font-family: "Architects Daughter", "Helvetica Neue", sans-serif;
    letter-spacing: 1px;
}

.full-width-border {
    width: 100%;
    border-bottom: lightcoral 3px solid;
}

.container {
    width: 100%;
    padding-top: 40px;
    text-align: center;
}

/* Header */

.main-header {
    width: 100%;
    min-height: 300px;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/food_hearts_opacity10%.jpeg");
    background-size: cover;
}

.main-header-text {
    padding-bottom: 20px;
}

.main-header-text ,
.nutrition-diary-text {
    margin: auto;
    width: 80%;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    color: white;
    letter-spacing: 2px;
}
.main-header h1, h2 {
    padding: 0;
    margin: 0;
}
.main-header h1 {
    font-size: 2.5em;
    font-family: "Architects Daughter", "Helvetica Neue", sans-serif;
}
.main-header h2 {
    font-size: 1.2em;
    font-family: "Architects Daughter", "Helvetica Neue", sans-serif;
}

/* Content */

.info-box {
    width: 80%;
    padding-top: 50px;
    margin: auto;
    color: grey;

}
.info-box a{
    text-decoration: none;
    color: grey;
    padding-bottom: 2px;
}
.info-box a:hover {
    color: lightcoral;
    font-weight: bold;
}
.info-box img {
    width: 35px;
    height: 35px;
    color: lightcoral;
}

.info-box h2 {
    color: lightcoral;
}
.info-box p {
    font-size: 0.9em;
    text-align: justify;
}

.nutrition-diary {
    width: 100%;
    min-height: 200px;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/food_much_opacity10%.jpeg");
    background-size: cover;
    margin-top: 50px;
}
.nutrition-diary-text {
    width: 80%;
    padding-top: 15px;
}
.nutrition-diary-text p{
    font-size: 1.25em;
}

/* Contact */

.contact-about,
.contact-info {
    width: 80%;
    margin: auto;
    color: grey;
}
.contact-about {
    padding-top: 50px;
}
.contact-about p {
    text-align: justify;
}
.contact-about img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.contact-info {
    padding-bottom: 50px;
    text-align: justify;
}
.contact-info ul {
    list-style-type: none;
    padding: 0;
}
.email::before{
    content: url("../img/email_small.png");
    display: inline-block;
    margin-right: 12px;
}
.phone::before{
    content: url("../img/phone_small.png");
    display: inline-block;
    margin-right: 12px;
}
.contact-info a{
    text-decoration: none;
    color: grey;
    padding-bottom: 2px;

}
.contact-info a:hover {
    color: lightcoral;
}

/* Footer */

.main-footer {
    width: 100%;
    padding-top: 20px;
    text-align: center;
    color: white;
    background-color: lightcoral;
    padding-bottom: 10px;
}

.main-footer a {
    text-decoration: none;
    color: white;
}

.main-footer a:hover {
    text-decoration: underline;
    color: white;
}

.main-footer p {
    margin: 0;
}

/* Media Queries */

@media screen and (min-width: 769px) {

    .container {
        width: 80%;
        margin: auto;
        max-width: 1100px;
    }

    /* Header */

    .main-header {
        min-height: 480px;
    }
    .main-header-text {
        padding-top: 50px;
    }

    .main-header-text h1 {
        font-size: 4.5em;
    }

    .main-header-text h2 {
        font-size: 2em;
    }

    /* Content */
    .info-box {
        width: 33%;
        display: inline-block;
        margin: -4px;
        padding-bottom: 50px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .nutrition-diary-text p{
        font-size: 2.5em;
    }

    /* Contact */

    .contact-about,
    .contact-info{
        width: 60%;
        margin: auto;
    }
    .contact-about img {
        width: 325px;
        height: 325px;
    }
}
